<div class="page-header" style="background-image: url('assets/img/okta_blue_bg.png')">
  <div class="fxcontainer" fxLayout="row wrap" fxLayoutAlign="center">
    <div class="item userNameItem" fxFlex="0 0 90%">ようこそ <h1>{{this.OktaGetTokenService.strUserName}}</h1>
    </div>
    <div class="feedBox">
      <mat-tab-group class="tabGroup">
        <mat-tab label="フィード">

          <div class="postFlex" fxLayout="row" *ngFor="let strpost of bbspost">

            <div class="bbsPostContainer" fxLayout="column">

              <div class="bbsEntry" fxLayout="row" fxLayoutGap="10px">
                <img src="assets/img/user_blue_small.png" class="userIcon">
                <a>
                  <a class="PostUser">{{ strpost.author }}</a>
                  <br />
                  <a class="PostDate">{{ strpost.postDate }}</a>
                </a><br>
              </div>
              <div class="PostSubject">{{ strpost.title }}</div>
              <div class="PostSubjectSub">{{ strpost.subtitle }}</div>
              <div><a class="readMore">Read more....</a></div>
              
            </div>
            <div class="comments">コメント数 {{ strpost.comments }}</div>
            <div class="comments">最終投稿日</div>

          </div>

        </mat-tab>
      </mat-tab-group>
    </div>
  </div>



  <!-- <div class="bbsPostContainer" fxFlex="grow" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px"
  *ngFor="let strpost of bbspost">
  <div class="bbsContainer" fxFlex="grow" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">
    
    
    <div class="bbsEntry" fxLayout="row" fxLayoutGap="10px">
      <img src="assets/img/user_blue_small.png" class="userIcon">
      <span>
        <span class="PostUser">{{ strpost.author }}</span>
        <br />
        <span class="PostDate">{{ strpost.postDate }}</span>
      </span>
    </div>
    <div class="PostSubject">{{ strpost.title }}</div>
    <span class="PostSubjectSub">{{ strpost.subtitle }}</span>
  </div>
 
  <a class="readMore">Read more....</a>
  
  <mat-divider class="PostDivider"></mat-divider>

</div> -->