.postImg {
  grid-area: postImg;
  /* text-align: center;  */
}
.postAuthor {
  grid-area: postAuthor;
}
.postedDate {
  grid-area: postedDate;
}
.postMainTitle {
  grid-area: postMainTitle;
}
.item6 {
  grid-area: header;
}

.grid-container {
  display: grid;
  grid-template-rows: 50px 50px;
  grid-template-columns: 150px 1fr;
  grid-template-areas:
    "postImg postAuthor postAuthor postAuthor postedDate postedDate"
    "postImg postMainTitle postMainTitle postMainTitle postMainTitle postMainTitle"
    "header header header header header header";
  /* grid-gap: 5px; */
  background-color: #ffffff !important;
  color: #00297a !important;
  /* padding: 10px; */
  width: 90% !important;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  /* text-align: center; */
  /* padding: 20px 0; */
  font-size: 18px;
  border: solid;
  border-width: thin;
  border-color: black !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
}

/* @media (max-width: 400px) {
  #grid-container {
    grid-template-columns: 1fr; 
    grid-template-areas:
      "img"
      "main"
      "right"
      "footer"
      "header";
  }
} */

.PostTitle {
  margin-left: 10px !important;
  margin-right: 10px !important;
  color: #41414b !important;
  font-size: 18px !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
  font-weight: 700 !important;
  line-height: 1.2 !important;
}
.post_img {
  margin-top: 10px !important;
  margin-left: 10px !important;
  /* margin-right: 10px !important; */
  margin-bottom: 10px !important;
  width: 50px !important;
  height: auto !important;
  text-align: center !important;
}

.PostBox {
  margin-top: 10px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-bottom: 10px !important;
  background-color: #d7d7dc !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
  border-radius: 5px !important;
  max-width: 300px !important;
}

.fxcontainer {
  width: 80%;
  margin-left: 10px !important;
  margin-right: 10px !important;
  height: auto !important;
  display: flex !important;
  color: #00297a;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;

  /* margin-top: 90px !important; */
}

.userNameItem {
  background-color: transparent !important;
  color: #ffffff !important;
  align-items: center !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
  font-size: 20px !important;
}

/* Hide the scrollbar byu still allow scroll : Chrome, Safari and Opera */
.fxcontainer,
.feedBox ::-webkit-scrollbar {
  display: none;
}
/* Hide the scrollbar byu still allow scroll :  IE, Edge and Firefox */
.fxcontainer,
.feedBox {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.feedBox {
  width: auto;
  /* max-width: 90%!important; */
  background-color: #ffffff !important;
  border-radius: 5px !important;
  color: #00297a;
  display: flex !important;
  overflow: auto;
  margin-top: 30px !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
}

.postSubTitle {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.postDate {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.readMore {
  margin-left: 15px !important;
  margin-bottom: 20px !important;
}

/* .mat-tab-header,  */
/* .mat-tab-label {
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;

  color: #ffffff !important;
  font-size: 16px !important;
  font-weight: 300 !important;
  vertical-align: middle !important;
  text-align: center;
  align-items: center;
  opacity: 1 !important;
}
.mat-tab-label-content {
  opacity: 1 !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
}
.mat-tab-header {
  background-color: #00297a !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
}

.mat-tab-body-content {
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
  height: 100% !important;
} */

/* .bbsEntry {
  padding-top: 10px !important;
  
  margin-bottom: 10px !important;
  
  width: 90% !important;
  height: auto !important;
  color: #00297a !important;
  background-color: #d7d7dc !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
} */

/* .userIcon {
 

  width: 40px !important;
  height: auto !important;
  margin-left: 10px !important;
} */
/* .bbsUser {

  color: #00297a !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  margin-left: 10px !important;
} */
/* .bbsContainer{
   border: solid;
  border-width: thin;

} */

/* .PostUser {
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
  color: #00297a !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}
.PostDate {
  color: #6e6e78 !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
}

.PostSubject {
  margin-left: 30px !important;
  margin-right: 30px !important;
  color: #41414b !important;
  font-size: 22px !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
  font-weight: 700 !important;
  line-height: 1.2 !important;
}

.readMore,
.readMoreDiv {
  color: #aaaab4 !important;
  font-size: 12px !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  margin-left: 30px !important;
  width: 300px !important;
} */
/* .PostSubjectSub {
  color: #aaaab4 !important;
  font-size: 16px !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
  margin-left: 40px !important;
 
} */

/* .PostDivider {
  width: 80% !important;
  margin-left: 25px !important;
} */

/* .bbsPostContainer {
  
  height: auto !important;
  width: 90% !important;
  background-color: #ffffff !important;
} */

/* Hide the scrollbar byu still allow scroll : Chrome, Safari and Opera */
.ng-trigger-translateTab::-webkit-scrollbar {
  display: none;
}
/* Hide the scrollbar byu still allow scroll :  IE, Edge and Firefox */
.ng-trigger-translateTab {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* .leftPost,
.userIcon,
.bbsUser,
.PostUser,
.PostDate,
.PostSubject,
.bbsPostContainer,
 .feedBox,
.bbsContainer
.bbsEntry{
  border: solid;
  border-width: thin;
  border-color: black!important;
}
 */

/* .comments {
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
  color: #00297a !important;
  font-size: 14px !important;
  font-weight: 300 !important;
  padding-top: 60px !important;
  text-align: center !important;
  
  width: 20% !important;
  
} */

/* .imgBox {
 
  margin-top: 50px !important;
  margin-left: 15px !important;
  margin-right: 15px !important;
  vertical-align: middle !important;
  width: 50%;
  height: auto !important;
 
  
} */
/* .postImg {
  
  width: 100px !important;
  height: auto !important;
  min-width: 10px !important;
  
  background-color: #d7d7dc !important;
} */

/* .strPostID {
  border: solid;
  border-width: thin;
  border-color: black!important;
  height: 30px!important;
  width: 20px !important;
  margin-top: 10px!important;
  margin-bottom: 10px!important;
  margin-right: 10px !important;
  margin-left: 20px !important;
  padding-top: 15px!important;
  padding-bottom: 10px!important;
  padding-right: 15px!important;
  padding-left: 10px!important;
  background-color: #6e6e78;
  font-size: 16px !important;
  font-weight: 600 !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
} */

/* .forumHeading{
  background-color: #00297a!important;
  color: #FFFFFF!important;
  height: 50px!important;
  margin: auto!important;

  border: solid!important;
  border-width: thick!important;
  border-color: #d7d7dc!important;
} */

/* 

.userText {
  color: #ffffff !important;
  text-align: center !important;
  white-space: pre-line;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
}

.userContainer {
  display: block !important;
  white-space: pre-line;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
}*/

/* .item {
  width: 300px;
  height: 300px;
  background-color: #ffffff;
  margin: 5px;
  border-radius: 5px !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
}  */
