.postImg {
  grid-area: postImg;
  padding-top: auto!important;
  padding-bottom: auto!important;
  padding-left: auto!important;
  padding-right: auto!important;
  text-align: center !important;
  background-color: #00297a !important;
  /* border: solid;
  border-width: thin;
  border-color: #d7d7dc !important; 
  border-radius: 5px!important;*/
}
.postAuthor {
  grid-area: postAuthor;
  padding-top: 10px !important;
  padding-left: 10px !important;
  background-color: #00297a !important;
  color: #ffffff !important;
  /* border: solid;
  border-width: thin;
  border-color: #d7d7dc !important; 
  border-radius: 5px!important;*/
}
.postedDate {
  grid-area: postedDate;
  padding-top: 10px !important;
  padding-left: 10px !important;
  background-color: #00297a !important;
  color: #ffffff !important;
  /* border: solid;
  border-width: thin;
  border-color: #d7d7dc !important; 
  border-radius: 5px!important;*/
  font-size: 14px!important;
}
.postMainTitle {
  grid-area: postMainTitle;
  padding-top: 10px !important;
  padding-left: 10px !important;
/*  border: solid;
   border-width: thin;
  border-color: #d7d7dc !important;
  border-radius: 5px!important; 
  color: #41414B!important;*/
}
.postLastUpdate {
  grid-area: postLastUpdate;
  padding-top: 10px !important;
  padding-left: 10px !important;
  padding-bottom: 10px !important;
  /* border: solid;
  border-width: thin;
  border-color: #d7d7dc !important;
  font-size: 14px!important;
  border-radius: 5px!important; */
  font-size: 14px!important;
}
.postComments {
  grid-area: postComments;
  padding-top: 10px !important;
  padding-left: 10px !important;
  /*border: solid;
   border-width: thin;
  border-color: #d7d7dc !important;
  border-radius: 5px!important; */
  font-size: 14px!important;
}
.postReadmore {
  grid-area: postReadmore;
  /* border: solid;
  border-width: thin;
  border-color: #d7d7dc !important;
  border-radius: 5px!important; */
}
.postID {
  grid-area: postID;
  color: #FFFFFF
}
.postSubTitle{
  grid-area: postSubTitle;
  margin-left: 30px!important;
  font-size: 14px!important;
  color: #AAAAB4!important;
  margin-top: 5px!important;
}


.grid-container {
  display: grid;
  grid-template-rows: 50px 50px;
  grid-template-columns: 150px 1fr;
  grid-template-areas:
    "postImg postAuthor postAuthor postAuthor postedDate postedDate"
    "postImg postMainTitle postMainTitle postMainTitle postComments postComments"
    "postSubTitle postSubTitle postSubTitle postSubTitle postLastUpdate postLastUpdate"
    "postReadmore postReadmore postReadmore postReadmore postReadmore postID";

  /* grid-gap: 5px; */
  background-color: #ffffff !important;
  color: #00297a !important;
  /* padding: 10px; */
  width: 90% !important;
  margin-bottom: 10px !important;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr;
  border: solid;
  border-width:medium;
  border-color: #d7d7dc !important;
  border-radius: 5px!important; 
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  /* text-align: center; */
  /* padding: 20px 0; */
  font-size: 18px;

  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
}

/* @media (max-width: 400px) {
  #grid-container {
    grid-template-columns: 1fr; 
    grid-template-areas:
      "img"
      "main"
      "right"
      "footer"
      "header";
  }
} */

.PostTitle {
  margin-left: 10px !important;
  margin-right: 10px !important;
  color: #41414b !important;
  font-size: 18px !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
  font-weight: 700 !important;
  line-height: 1.2 !important;
}
.post_img {
  margin-top: 10px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  /* border-radius: 5px !important; */
  /* margin-right: 10px !important; */
  margin-bottom: 10px !important;
  width: 50px !important;
  height: auto !important;
  text-align: center !important;
  background-color: #00297a !important;
}

.PostBox {
  margin-top: 10px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-bottom: 10px !important;
  background-color: #d7d7dc !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
  border-radius: 5px !important;
  max-width: 300px !important;
}

.fxcontainer {
  position: relative;
  z-index: 2;
  width: 80%;
  border-radius: 5px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  height: auto !important;
  display: flex !important;
  color: #00297a;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
  margin-top: 120px !important;
}

.userNameItem {
  background-color: transparent !important;
  color: #ffffff !important;
  align-items: center !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
  font-size: 20px !important;
}

/* Hide the scrollbar byu still allow scroll : Chrome, Safari and Opera */
.fxcontainer,
.feedBox ::-webkit-scrollbar {
  display: none;
}
/* Hide the scrollbar byu still allow scroll :  IE, Edge and Firefox */
.fxcontainer,
.feedBox {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.feedBox {
  width: auto;
  /* max-width: 90%!important; */
  background-color: #ffffff !important;
  border-radius: 5px !important;
  color: #00297a;
  display: flex !important;
  overflow: auto;
  margin-top: 30px !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
}

.postSubTitle {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.postDate {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.readMore {
  margin-left: 15px !important;
  margin-bottom: 20px !important;
}

/* Hide the scrollbar byu still allow scroll : Chrome, Safari and Opera */
.ng-trigger-translateTab::-webkit-scrollbar {
  display: none;
}
/* Hide the scrollbar byu still allow scroll :  IE, Edge and Firefox */
.ng-trigger-translateTab {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
