<div class="page-header" style="background-image: url('assets/img/okta_blue_bg.png')">
  <div class="fxcontainer" fxLayout="row wrap" fxLayoutAlign="center">
    <div class="userNameItem" fxFlex="0 0 90%">ようこそ <h1>{{this.OktaGetTokenService.strUserName}}</h1>
    </div>

    <div class="grid-container" *ngFor="let strpost of bbspost">
      <div class="postImg"><img src=" {{ strpost.postImg }} " class="post_img"></div>
      <div class="postAuthor">{{ strpost.author }}</div>
      <div class="postedDate">作成日 : {{ strpost.postDate }}</div>
      <div class="postMainTitle">{{ strpost.title }}</div>
      <div class="item6">Header</div>
      <div class="snsIcon">snsIcon</div>
      <div class="spacer">spacer</div>
      
    </div>
  </div>
</div>

<!-- <div class="fxcontainer" fxLayout="row wrap" fxLayoutAlign="center">
    <div class="userNameItem" fxFlex="0 0 90%">ようこそ <h1>{{this.OktaGetTokenService.strUserName}}</h1>
    </div>

    <div class="feedBox" fxLayout="row wrap" fxLayoutAlign="center">
      <div class="PostBox" fxLayout="column" fxLayoutAlign.xs="center" *ngFor="let strpost of bbspost"
        fxLayoutGap="10px">

        <img src=" {{ strpost.postImg }} " class="post_img">

        <h2 class="PostTitle">

        {{ strpost.title }}
        
        </h2>
        
        <div class="postSubTitle">
          {{ strpost.subtitle }}
          
        </div>
        
        <div class="u-blog-control u-metadata u-metadata-1">
          
          <span class="postDate">
            作成日 : {{ strpost.postDate }}
            
          </span>
        
        </div>
        
        <a class="readMore">Read More
          
        </a>
        
      </div>
    </div>





  </div> -->


<!-- <div class="page-header" style="background-image: url('assets/img/okta_blue_bg.png')">
  <div class="fxcontainer" fxLayout="row wrap" fxLayoutAlign="center">
    <div class="item userNameItem" fxFlex="0 0 90%">ようこそ <h1>{{this.OktaGetTokenService.strUserName}}</h1>
    </div>
    <div class="feedBox">
      <mat-tab-group class="tabGroup">
        <mat-tab label="フィード">
          
          <div class="postFlex" fxLayout="row" fxLayoutAlign.xs="center center" *ngFor="let strpost of bbspost">
            <div class="postImg" fxHide.xs="true"><img src=" {{ strpost.postImg }} " class="imgBox"></div>
            
            <div class="bbsPostContainer" fxLayout="column">
              <div class="bbsEntry" fxLayout="row" fxLayoutGap="10px">
                <img src="assets/img/user_blue_small.png" class="userIcon">
                <a>
                  <a class="PostUser">{{ strpost.author }}</a>
                  <br />
                  <a class="PostDate">{{ strpost.postDate }}</a>
                </a><br>
              </div>
              <div class="PostSubject">{{ strpost.title }}</div>
              <div class="PostSubjectSub">{{ strpost.subtitle }}</div>
              <div class="readMoreDiv"><a class="readMore">Read more....</a></div>
            </div>
            <div class="comments" fxHide.xs="true">コメント数 <br> {{ strpost.comments }}</div>
            <div class="comments" fxHide.xs="true">最終投稿日 <br> {{ strpost.lastupdate }}</div>

          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div> -->